/*============= ALL FONTS =============*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Bellota-LightItalic';
    src: url('assets/fonts/Bellota-LightItalic.ttf');
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url('assets/fonts/Bellota-BoldItalic.ttf');
}
@font-face {
    font-family: 'Bellota-Bold';
    src: url('assets/fonts/Bellota-Bold.ttf');
}
@font-face {
    font-family: 'JetBrainsMono-Bold';
    src: url('assets/fonts/JetBrainsMono-Bold.ttf');
}
@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('assets/fonts/JetBrainsMono-Regular.ttf');
}

/*============= LIGHT MODE & DARK MODE COLORS =============*/

:root {
  --primary-color: #1ebba3;
  --secondary-color: #fdcb6e;
  --textarea: #F0F2F5;
  --fonts: #f1f1f1;
  --darkfonts: #191919;
  --container: white;
  --card: #DFDFDF;
}

[data-theme="dark"] {
  --primary-color: #188b79;
  --secondary-color: #fdcb6e;
  --textarea: #3A3B3C;
  --fonts: #191919;
  --darkfonts: #f1f1f1;
  --container: rgba(48, 48, 48);
  --card: #ACACAC;
}

/*!
* Global Class Reference
* Version - 6.9
* github https://github.com/CarlCaraan
* Licensed under the MIT license - http://opensource.org/licenses/MIT
*
* Copyright (c) 2021 Carl Caraan
*/

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* transition: all .2s linear; */
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: var(--darkfonts);
    background-color: var(--container);
}
td, th, tr {
    color: var(--darkfonts);
}
h1,h2,h3,h4,h5,h6 {
    color: var(--darkfonts);
}
p {
    color: var(--darkfonts);
}
.narrow {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}
.socket {
    max-width: 100%;
    border-bottom: .1px solid rgba(128, 128, 128, .4);
    margin: .3rem;
}
.card {
    background-color: var(--container);
    border-color: var(--card);
}

/*-- Scroll Bar -- */
::-webkit-scrollbar {
  width: .5vw;
}
::-webkit-scrollbar-track {
  background-color: none;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*-- Nav Scrolling Offset --*/
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/*-- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}


/*============= LANDING PAGE SECTION =============*/







/*============= REGISTER SECTION =============*/

#register_body {
    background-color: #f1f1f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%231ebba3' fill-opacity='0.2'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
#container-prop {
  background-color: #dfe6e9;
  margin: 2rem auto;
  border-top: .2rem solid var(--primary-color);
  box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  backdrop-filter: blur(5px);
  overflow: hidden;
}
#login_header,
#register_header {
    font-family: 'Bellota-BoldItalic', sans-serif;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: .1px .2px .1rem black;
    margin: 2.2rem 0 2.2rem 0!important;
    text-align: center;
    border-bottom: .1rem solid white;
}
#business_header {
    font-size: 1.4rem;
}
/*-- Login and Register Wrapper --*/
.register__wrapper {
    display: none;
}
a.signin,
a.signup {
    text-decoration: none;
    color: var(--primary-color);
}
a.signin:hover,
a.signup:hover {
    text-decoration: none;
    color: turquoise;
}
#login_image {
}
#ibtn-lg{
  font-family: 'Bellota-BoldItalic', sans-serif;
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
}
/*-- Google Sign In Button --*/
.g-sign-in-button {
  margin: 10px;
  display: inline-block;
  width: 240px;
  height: 50px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}
.g-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}
.g-sign-in-button:active {
  background-color: #3367D6;
  transition: background-color 0.2s;
}
.g-sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
}
.g-sign-in-button img {
    width: 18px;
    height: 18px;
}
.g-sign-in-button .logo-wrapper {
   padding-top: 10px;
   background:#fff;
   width: 48px;
   height: 100%;
   border-radius: 3px;
   display: inline-block;
   margin-left: -6px;
}
.g-sign-in-button .text-container {
    font-family: Roboto,arial,sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}

#signin_typing,
#signup_typing,
.typed-cursor
{
    display: inline-block;
}

.typed-cursor {
    font-size: 2.4rem;
}

.primary
{
    color: orangered;
}

.typed-cursor
{
  opacity: 1;
  animation: blink 0.7s infinite;
  -webkit-animation:blink 0.7s infinite;
  -mox-animation:blink 0.7s infinite;


}

@keyframes blink
{
    0%
    {
        opacity: 1;
    }


    50%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }



}

@-webkit-keyframes blink
{
    0%
    {
        opacity: 1;
    }


    50%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }

}

@-moz-keyframes blink
{
    0%
    {
        opacity: 1;
    }


    50%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }


}


/*============= NAVIGATION =============*/

.navbar {
    background-color: var(--primary-color);
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5s ease 0s;
}
.navbar-brand img {
  height: 2rem;
}
.svg-inline--fa.fa-w-14 {
  color: white;
  font-size: 1.6rem;
}
.navbar-nav li {
  padding-right: .8rem;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
    transition: all .2s linear;
}
.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}

/*============= SETTINGS SECTION =============*/

#username_container {
    position: absolute;
    left: 10px;
    top: 70px;
    color: var(--primary-color);
}

/*============= USER SECTION =============*/
/*-- Submit Section --*/
#trash_icon {
    font-size: 1rem;
}

/*============= ADMIN SECTION =============*/

/*-- Page Content --*/
#admin_content {
    padding-top: 3.7rem;
}
#admin_content.active {
  width: 100%;
  margin: 0;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
/*-- Vertical Navigation --*/
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
#sidebar {
    padding-top: 4.4rem;
}
#sidebar.active {
  margin-left: -17rem;
}
#admin_user_headings,
#admin_record_headings {
    font-family: 'Jetbrains Mono';
}
#page_current {
    background-color: var(--primary-color);
    border-color: #ACACAC;
}
#admin_navlink:hover {
    color: var(--darkfonts);
}
.modal-content {
    background-color: var(--container);
}
#admin_navlink {
    color: var(--darkfonts);
}


/*============= INTERNET NOTIFICATION POPUP MESSAGE =============*/

.connection {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 360px;
    height: 70px;
    background: #242526;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.connection p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    margin-top: 1rem;
}
.connection .refreshBtn {
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    color: #469aff;
}
.connection .wifi-off {
    margin-right: 20px;
    font-size: 26px;
    color: #7c7c7c;
}
.connection .close {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #474747;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.connection .wifi {
    color: #029702;
    font-size: 26px;
    margin-right: 20px;
}
.online.active {
    width: 420px;
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}
.offline.active {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}

/*============= DARK MODE TOGGLE SWITCH BOOTSTRAP =============*/

.custom-control-input:checked ~
.custom-control-label::before {
    border-color: var(--primary-color)!important;
    background-color: var(--primary-color) !important;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  right: 25px;
  top: 70px;
}
.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}
.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}






/*============= MEDIA QUERIES =============*/

/*-- Devices under 1200px (xl) --*/
@media (max-width: 1199px) {

}

/*-- Devices under 992px (lg) --*/
@media (max-width: 991px) {
    #login_image {
        display: none;
    }
}

/*-- Devices under 768px (md) --*/
@media (max-width: 767px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #admin_content {
    width: 100%;
    margin: 0;
  }
  #admin_content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/*-- Devices under 576px (sm) --*/
@media (max-width: 575px) {

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
